# Public env:
NEXT_PUBLIC_APP_NAME=___
NEXT_PUBLIC_TARTEEL_APP_URL=https://tarteel.quran.us.kg
NEXT_PUBLIC_APP_VERSION=N/A
NEXT_PUBLIC_DEBUG=(true / false)

# Email:
FEED_BACK_EMAIL=___
FEED_BACK_PASSWORD=___
FEED_BACK_SERVICE=___
FEED_BACK_HOST=___
FEED_BACK_PORT=___

# Quran Foundation API (for Tahfeez timestamps)
QF_ENV=prelive # 'prelive' or 'production'
QF_CLIENT_ID=___
QF_CLIENT_SECRET=___